body{
    background-color: #a8dbd8;    
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue; 
    display: flex;
    flex-direction: column; 
   
}
legend{
    background-color: #a8dbd8;
    border: .2rem ridge;
}
.dados{
    margin: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));      
    color: black;

}

input{
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     padding: 1%;      

}

button{
    margin: 2rem 2rem;
}

button:hover{
    background: #4ac6b5;  
}