body{
    background-image: linear-gradient(to bottom right,#49a8a4, #eaf1f0);    
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;    
}

.dados{
    margin: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
      
}


.campos input{
    float: left;
    clear: both;
    margin-top: 1rem;
}

