body {
    background-color: #eaf1f0;
    padding:0px;
    margin:0px
}

.ccenter {
    margin-top: 4.8%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

h1 {
    font-size: 40px;
    color: #045c41;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgb(77, 138, 130) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

.box {
    margin-top: 100px;
}

.input_label {
    font-size: 25px;
    color: #3c3d3d;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
}

.box__input {
    width: 100%;
}

.box__file {
    margin-top: 10px;
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    font-size: 18x;
    box-sizing: border-box;
    padding: 100px;
    width: 100%; 

}

.box__file:hover {
    border: solid 2px #4ac6b5;
}

.box__button {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    background: #3a9c8f;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
}

.box__button:hover {
    background: #4ac6b5;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}
.rodape{
    margin: auto;
    width: 100%;
    bottom: 0px;
    color: black;
    text-align: left;
 }