body {
    display: block;
    background-color:  #eaf1f0;
    padding:0px;
    margin:0px
}
h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    margin-bottom: 20px;
}

.subtitulo-principal {
    margin-top: -20px;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    margin-top: -2px;
}

.titulo-principal {
    text-align: center;
    background-color: #3a9c8f;
    color: #FFF;
    border-bottom: .2rem solid #000;
}

.foto-home { 
    margin-top: 20px;
    height: 100px;
    width: 150px;
    
}
.bemVindo p {
    font-size: 20px;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.ou {
    font-size: 30px;
    color: #99A;
}
.bemVindo-inicio {
    font-size: 40px;
    color: #889;

}
.bemVindo strong {
    font-size: 60px;
    color: #000;
}
.secao-inicio {
    text-align: center;
}
.botao-index {
    font-size: 1.25em;
    background-color: #3a9c8f;
    color: #FFF;
    padding: .5em;
    border: 2px solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    text-decoration: none;
}
.secao-inicio {
    padding: 2em;
}
.rodape{
    margin: auto;
    width: 100%;
    bottom: 0px;
    color: black;
    text-align: left;
 }