body {
    background-color: #e1eeee;
    text-align: center;  
    padding:0px;
    margin:0px;
}

h1{
    font-size: 40px;
    color: #045f5b;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(77, 138, 130) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

p{
    margin-bottom:5px;
}
  
p:first-child{
    margin: 0px;
}

p{
    margin-bottom:15px;
    font-family: Arial, Helvetica, sans-serif;
}
  
label {
    color: #405c60;
    position: relative;
}

::-webkit-input-placeholder  {
    color: #bebcbc;
    font-style: italic;
}
  
input:-moz-placeholder,
  textarea:-moz-placeholder{
  color: #817d7d;
  font-style: italic;
}

input {
  outline: none;
}
 
textarea, input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a {
    color: rgb(7, 19, 185);
    text-decoration: none;
    text-align: center;
    display: block;
}
    
a:hover {
    text-decoration: underline;  
}

.rodape{
    margin: auto;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

menu {
    float: right;
}

div.menuEs {
    float: left;
}