body {    
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue; 
    display: flex;
    flex-direction: column; 
}

#menu ul {
    padding:0px;
    margin:0px;
    color: rgba(240, 232, 232, 0.596);
    list-style:none;
}

.form {
    width: 500px;
    margin: 80px auto;
}

.recupearSenha {
    float: right;
    color: #007791;

}

.semConta {
    color: #007791;
    text-align: center;    
}
  
.login{
  position: absolute;
  top: 0px;
  width: 88%;  
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;

  
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #3a9c8f;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;  
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
}
  
input[type="submit"]:hover{
    background: #4ac6b5;
}

.manterlogado{
    text-align: left;
}

.rodape{
    margin: auto;
    width: 100%;
    bottom: 0px;
    color: black;
    text-align: left;
 }
