nav .menu {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

li {
  float: right;
  text-transform: uppercase;
}

.logo {
  width: 49px;
  height: 49px;
  background-image: url(../img/UpStudyIcon.png);
  border-radius: 100%;
  float: left;
}

li a {
  display: block;
  color: rgba(240, 232, 232, 0.596);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: rgba(255, 255, 255, 0.993);
}